body {
    font-family: Arial,sans-serif;
    margin: 0px;
    padding: 30px
}

table {
    width: 500px;
    border-collapse: collapse;
    border: 1px solid #ee0de7;
    margin-left: 20%;
}

.row-1 {
    background-color: #990066;
}

.file-upload {
    text-align: center;
}
